.login{
    position:relative;
    height:100%;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/399d6794-b770-4b21-992d-a3326710a170/c6ca2fdd-48b6-48cc-aa3c-983d48687bd0/IN-en-20210215-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.login_gradient{
    width:100%;
    height:100vh;
    z-index:1;
    background:rgba(0,0,0,0.4);
    background-image:linear-gradient(to top,
    rgb(0,0,0,0.8) 0,
    rgba(0,0,0,0) 60%,
    rgba(0,0,0,0)100%
    );
    
}
.login_content{
    display:flex;
    justify-content:space-between;
}
.login_logo{
    position:fixed;
    top:15px;
    left: 0;
    width: 100px;
    cursor:pointer;
    padding-left: 20px;
    object-fit: contain;
}
.login_button{
    cursor:pointer;
    border:none;
    position:fixed;
    padding:10px 20px;
    right:20px;
    top:20px;
    font-size: 1rem;
    font-weight:500;
    color:white;
    background-color: #e50914;

}
.login_card{
    position:absolute;
    width:90%;
    padding:20px;
    top:30%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index:1;
    color:white;
}
.login_card > h3{
    font-size:1.3rem;
    font-weight:300;
    margin-bottom:20px ;
}
.login_title{
    font-size:3.125rem;
    margin-bottom:20px;
}
.login_subtitle{
    font-size: 2rem;
    font-weight: 350;
    margin-bottom:30px;
}
.login_started{
    padding:10px 20px; 
     font-size: 1rem; 
     font-weight: 600;
     color: white; 
     background-color:#e50914;
     border:none;
     outline:none;
     cursor:pointer;

}