/* .signup{
   max-width:300px;
   padding:70px;
   margin-left:auto;
   margin-right:auto;
   background:rgba(0,0,0,0.85);
}
.signup_form{
   display:flex;
   flex-direction:column;
} */
.signup{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:rgba(0,0,0,0.85);
    max-width:200px;
    padding:70px;
}
.signup_input{
    margin-top:8px;
    padding:10px;
    outline:none;
    border:none;
    border-radius:5px;
    width:90%;
}
.signup_button{
    font-size:1rem;
    color:white;
    border-radius:5px;
    background-color:#e50914;
    font-weight:600;
    border:none;
    cursor:pointer;
    margin-top:15px;
    padding:10px 20px;
    width:100%;
}
.signup_bottom{
    margin-top: 30px;
    text-align:left;
}
